body {
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

#app {
  max-width: 850px;
  margin: auto;
}

a + a {
  margin-left: 1em;
}

h1 {
  font-size: 2.5em;
}

li {
  font-size: 1.8em;
  margin-bottom: 1em;
}

p {
  font-size: 1.5em;
}

pre {
  font-size: 1.3em;
}
